@charset "utf-8";
/*구글 아이콘 넣기*/
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
/*폰트 스타일넣기*/

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap");

:root {
  --background-color: #f8f8f8;
  --yello-color: #fdef7b;
  --footer-color: #cac0ae;
  --point-color: #785024;
  --text-sans: "Noto Sans KR ", sans-serif;
  --text-logo: "Cafe24SsurroundAir";
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/*본문시작*/

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
  font-family: var(--text-sans);
}

/*헤더*/
/*header*/
.oly i {
  font-size: 25px;
}

.logo {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-width: 20%;
}

.action .icon {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding-left: 35px;
}

.action .menu {
  position: absolute;
  top: 95px;
  right: 90px;
  padding: 20px;
  backdrop-filter: bulr(10px);
  background-color: #fff;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 1;
  font-size: 13px;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home .header h1 {
  font-size: 1.5rem;
  display: inline;
  font-family: var(--text-logo);
}

.action .menu.active {
  top: 95px;
  visibility: visible;
  opacity: 1;
  margin-right: -20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.action .menu ul li {
  list-style: none;
  margin: -10px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  direction: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-family: var(--text-logo);
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul li:hover a {
  color: var(--point-color);
}

.header {
  width: 100%;
  padding-top: 20px;
  left: 0;
  padding-bottom: 20px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 33;
  background-color: #fff;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
}

.header a {
  position: relative;
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-right: 70px;
}

.header .menu a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: black;
  transition: all 0.5s ease-out;
}
.header .nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  background: black;
  transition: all 0.5s ease-out;
}

.header .menu a::after {
  bottom: 15px;
}

.header a:hover::after {
  width: 100%;
}

.header:hover {
  backdrop-filter: bulr(10px);
  background-color: var(--yello-color);
  transition: all 0.5s ease;
  z-index: 100;
}

.nav ul {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  list-style: none;
  margin-bottom: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  margin-left: 36px;
  font-family: var(--text-logo);
  font-size: 17px;
}

.nav ul li a {
  color: #432;
}

/* .header {
  height: 80px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: rgb(252, 244, 198);
} */
/*내용물 전체*/
#container {
  background-color: var(--background-color);
  position: relative;
  padding-top: 150px;
  width: auto;
  height: auto;
  z-index: 1;
}
/*중간 검색창 부분*/
#contents {
  width: 1000px;
  height: auto;
  margin: 30px auto;
}
#contents h2 {
  font-size: 40px;
  color: #424242;
}

.boxContainer {
  margin: 5% auto;
  position: relative;
  width: 100%;
  height: 42px;
  border-bottom: 3px solid #222;
}
.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.elementsContainer input {
  font-family: var(--text-sans);
}
.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 5px;
  background: transparent;
  font-size: 20px;
  color: #424242;
  font-weight: 500;
  font-family: var(--text-sans);
}
.search:focus {
  outline: none;
}
.material-icons {
  float: right;
  font-size: 30;
  color: #424242;
}

/*검색 결과 리스트*/
#selectList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}
.img {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}
.img:hover {
  opacity: 0.7;
}
#selectList span {
  padding-top: 10px;
  padding-left: 15px;
}

/* footer */
footer {
  background: rgb(214, 195, 143);
  border-top: 1px solid #ddd;
  padding: 30px 0;
}
.container {
  max-width: 1200px;
  padding: 24px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
h4 {
  text-transform: uppercase;
  font-size: 12px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul li {
  margin-bottom: 15px;
}

/*footer*/
.footer {
  padding: 70px 0;
  background-color: var(--footer-color);
  flex-wrap: wrap;
  display: flex;
}

.footer-col {
  width: 30%;
  text-align: center;
  padding-left: 50px;
}

.footer-col h3 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 500;
  position: relative;
  color: white;
  font-weight: bold;
}

.footer-col li {
  list-style: none;
  padding: 5px;
}

.footer-col h3::before {
  content: "";
  position: absolute;
  left: 10;
  height: 2px;
  bottom: -10px;
  box-sizing: border-box;
  background-color: white;
  width: 120px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  display: block;
  transition: all 0.5s ease;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 20px;
}
