@charset "utf-8";

:root {
  --text-color: #f0f4f5;
  --background-color: #104128;
  --accent-color: #fce730;
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}
nav a {
  color: var(--text-color);
}

/*네이게이션 */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}
.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
}
.navbar__logo i {
  color: var(--accent-color);
}
.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: cadetblue;
  border-radius: 4px;
}
.navbar__icons {
  padding-left: 0;
  list-style: none;
  color: var(--text-color);
  display: flex;
}
.navbar__icons li {
  padding: 8px 12px;
}
.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--text-color);
}

/*반응형 웹 만들기*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toogleBtn {
    display: block;
  }
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}

/*본문 컨텐츠*/
h1 {
  padding: 30px;
}
.contents {
  margin: 50px auto;
  width: 1200px;
  height: 900px;
  background: rgb(245, 243, 233);
}
.memberList {
  border-collapse: collapse;
}
.memberList th {
  padding: 20px;
  color: #168;
  border-bottom: 3px solid #168;
  text-align: left;
}
.memberList td {
  color: #669;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.memberList tr:hover td {
  color: #004;
}
