@charset "utf-8";
/*폰트 스타일넣기*/
/*로고폰트*/
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*본문 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap");

:root {
  --background-color: #f8f8f8;
  --yello-color: #fdef7b;
  --footer-color: #cac0ae;
  --point-color: #785024;
  --manager-color: #104128;
  --text-sans: "Noto Sans KR ", sans-serif;
  --text-logo: "Cafe24SsurroundAir";
  --text-color-white: #f0f4f5;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--manager-color);
}

nav a {
  color: var(--text-color-white);
}

/*네이게이션 */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--manager-color);
  padding: 8px 12px;
  font-family: var(--text-logo);
  color: var(--text-color-white);
}
.navbar__logo {
  font-size: 24px;
}
.navbar__logo i {
  color: var(--yello-color);
}
.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: cadetblue;
  border-radius: 4px;
}
.navbar__icons {
  padding-right: 20px;
  list-style: none;
  display: flex;
}
.navbar__icons li a {
  color: var(--point-color);
  color: #fdef7b;
}
.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
}

/*반응형 웹 만들기*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toogleBtn {
    display: block;
  }
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
/*본문 컨텐츠*/
h1 {
  padding: 30px;
}
.contents {
  margin: 50px auto;
  padding: 30px;
  width: 1000px;
  height: auto;
  font-family: var(--text-sans);
}
.memberList {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}
.memberList th {
  padding: 15px;
  color: #168;
  border-bottom: 3px solid #168;
  text-align: left;
}
.memberList td {
  color: #669;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.memberList tr:hover td {
  color: #004;
}

/*페이징*/
.pres {
  margin: 30px auto;
  padding-left: 40px;
}
.delete {
  /*  padding-right: 50px; */
  margin: 25px;
  float: right;
}

.delete input {
  width: 70px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}
.paging {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.paging li {
  display: inline-block;
  margin: 5px;
}
