@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@700&family=Sunflower:wght@500&display=swap");

/* 나눔고딕, 주아, 선플라워 한글폰트 */
/* font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Sunflower', sans-serif; */

/* 기본설정 */
* {
  margin: 0;
  padding: 0;
}

/* 타이틀 폰트 적용 */
.title_font {
  font-family: "Nanum Gothic", sans-serif;
}

/* 헤더 영역 */
header {
  padding: 20px;
  border-bottom: 1px solid #aaa;
}

/* hr로 선 그어도 무방
hr {  /*기본적으로 표현하는걸 초기화해주고 다시 설정.
  border: 0;
  border-top: 1px solid #aaa;
  margin: 5px 0;
} */

/* 회원가입 폼 영역 */
#regFormArea {
  padding: 20px 40px;
  border-bottom: 1px solid #aaa;
}

form label {
  display: block; /*인라인을 블록형식으로바꾼다.라벨은 인라인*/
}

#regForm > table td {
  width: 150px;
  padding: 5px;
}

#regForm input[type="text"],
#regForm input[type="password"] {
  height: 30px;
  width: 200px;
  font-size: 1.2em;
  padding: 0 5px;
}

#regForm input[type="submit"],
#editForm input[type="submit"] {
  width: 150px;
  height: 50px;
  border: 1px solid #aaa;
  font-size: 1.5em;
  font-family: "Nanum Gothic", sans-serif;
  background-color: rgb(138, 185, 187);
}

div.msg {
  color: red;
  display: none;
}

/* 회원 리스트 영역 */
#listArea {
  padding: 20px 40px;
  border-bottom: 1px solid #aaa;
}

#listArea > table {
  margin: 10px 0;
  width: 600px;

  border-collapse: collapse; /*테이블 행과열 사이의 간격 없애기*/
}

#listArea > table td,
#listArea > table th {
  padding: 10px;
  border: 1px solid #aaa; /*테이블 안 내역에 보더주기*/
  text-align: center;
}

/*회원정보 수정 영역*/
#editFormArea {
  width: 350px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: lemonchiffon;
  padding: 20px;

  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -175px;

  display: none;
}

#div_header {
  border-bottom: 1px solid #aaa;
  overflow: hidden;
  padding-bottom: 10px;
}

#div_header > h2 {
  float: left;
}
#div_header > div {
  float: right;
}

#editFormArea > table {
  width: 100%;
  margin-top: 15px;
}

#editForm > table td {
  padding: 5px 10px;
  text-align: center;
}
