@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

#main_wrap {
  width: 800px;
  margin: 20px auto;
  font-size: 16px;
}

/* 헤더  */
header {
  text-align: center;
  margin: 30px;
  margin-top: 50px;
}

/* 폼 설정 */
form {
  margin: 50px auto;
  width: 50%;
}
form div {
  margin: 15px;
}
/* 인풋박스 설정 */
input {
  width: calc(100% - 12px);
  height: 50px;
  border: 1px solid #ddd;
  margin-top: 5px;
  padding-left: 10px;
}

input:focus {
  /*input박스 클릭시 나오는 테두리 없애기*/
  outline: none;
}
/* 폼 안에 h3글씨 설정 */
h3 {
  font-size: 15px;
}

/* 생년월일 설정 */
#birthday > div {
  display: flex;
  width: 100%;
  margin: 0;
}
#birthday > div > input {
  width: 33.3333%;
}
#birthday > div > * {
  width: 33.3333%;
  height: 52px;
  line-height: 52px;
  margin: 5px 0 0 0;
  padding: 0 0 0 10px;
}
#birthday > div > * + * {
  margin-left: 10px;
}
/* #birthday > div > *:nth-child(1) {
  margin-right: 6px;
}
#birthday > div > *:nth-child(3) {
  margin-left: 6px;
} */
/*

 #birthday input {
  width: calc(33.3333% - 10px);
}
*/
#birthday select {
  height: 54px;
  line-height: 54px;
  width: 33.3333%;
}

/* 이메일 설정 */
#email h3 {
  display: inline-block;
}
#email span {
  font-size: 13px;
  color: gray;
}

/* 휴대전화 설정 */
#phon1 {
  width: 250px;
}
#phonenumber input[type="button"] {
  margin-top: 3px;
  width: 100px;
  padding: 5px;
  height: 52px;
}

#phonenumber select {
  width: 100%;
}
#phonenumber 

/* 클래스 */
/* 테두리설정 */
.border_1_sol_ddd {
  border: 1px solid #ddd;
}

/* 셀렉트 박스 설정 */
.selectbox_set {
  width: 100%;
  height: 50px;
}
