@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@700&family=Sunflower:wght@500&display=swap");

/* 나눔고딕, 주아, 선플라워 한글폰트 */
/* font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Sunflower', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
table,
input,
header,
nav,
aside,
section,
article,
p {
  font-size: 16px;
  font-family: "돋움체", Arial, Helvetica, sans-serif;
}

body {
  background-color: blanchedalmond;
}

/* 전체 요소를 감싸는 블록 */
#main_wrap {
  width: 776px; /* -10 -10패딩 -1 -1 보더 -2  :총 800px */
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 5px; /*테두리 약간 둥글게 만들기*/
  margin: 10px auto;
  box-shadow: 2px 2px 3px #ddd; /*전체 네모에 그림자넣기*/
  padding: 10px;
}

/* 헤더영역 */
header {
  padding: 20px;
}

/* 헤더의 자손 h1 설정 */
header > h1 {
  font-size: 2em;
}

/* 중복된코드줄이기. 공통으로 사용할 클래스 만들기 */
.font_jua {
  font-family: "Jua", sans-serif; /*폰트 설정하기*/
  font-weight: 400; /*폰트 두께 얇게 설정*/
}
/* 헤더끝 */

/* 네비게이션 영역 */
nav {
  /* border-top: 1px solid #ddd; 영역 위에 구분선 긋기 */
  /* border-bottom: 1px solid #ddd; 영역 아래에 구분선 긋기 */
  overflow: hidden; /* 넘치는 부분 안보이게처리*/
  height: 35px; /*높이를 설정한다.*/
}

/* 라인 만드는부분 클래스로 묶기 */
.line {
  border-top: 1px solid #aaa; /*영역 위에 구분선 긋기*/
  border-bottom: 1px solid #aaa; /*영역 아래에 구분선 긋기*/
}

/* 큰 부분 두개 왼쪽 오른쪽으로 나열하기 */
nav > ul {
  /*큰 목록*/
  float: left; /*큰 항목 왼쪽으로 붙이기*/
  list-style: none; /*리스트 앞에 버튼 없애기*/
}
nav > div {
  float: right;
}
/* 작은 항목들 일자로 나열하기 */
nav > ul > li {
  float: left;
  padding: 0 20px; /*0(상하)하고 20픽셀(좌우)씩 떨어트린다.*/
  height: 35px;
  line-height: 35px; /*글씨가 높이 중간에 오도록 처리*/
}
